.cart-container {
    padding: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
  }
  
  td:last-child {
    text-align: center;
    cursor: pointer;
    color: #f44336;
  }
  
  .empty-cart {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin-top: 2rem;
  }
  

  .loader{
    display: inline-block;
    position:fixed;
    top:50%;
    left:50%
  }